*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to right, #360033, #0b8793);
    color: white;
    font-family: 'AR One Sans', sans-serif;
    display:grid;
    place-content: center;
    height: 100vh;
}

#me {
   padding: 4rem;
    width: 50vw;
    line-height: 25px;
}

#me h2,h4,p {
    margin: 25px;
} 

    #me h1 {
        width: 0;
        
        white-space: nowrap;
        font-size: 4rem;
        font-family: "Courier New";
        border-right: 0.15em solid #18bdec;
        animation: typing 4s steps(10) 1s 1 normal both, blink 1s steps(1) infinite;
      }
      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }
      @keyframes blink {
        50% {
          border-color: transparent;
        }
      }

#me h2 {
    font-size: 2rem;
}
#navBar ul{
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
#navBar ul li {
    padding: 1rem;
    border: 1px solid white;
    border-radius: 20px;
}
#navBar ul li:hover{
    background-color: rgba(249, 180, 255, 0.226);
}

#navBar ul li a {
    color: aliceblue;
    text-decoration: none;
}


