.container {
    display: grid;
    grid-template-columns: 500px 500px;
    place-items: center;
    margin: 150px auto;
    max-width: 1000px;
}

.form-container {
    width: 80%;
    margin: 0;
}

.form-container-purple {
    height: 40px;
    margin: 0;
}

.container-text {
    display: grid;
    grid-template-rows: repeat(8,50px);
    place-items: left;
}

.container-title {
    grid-row: 4;
    font-size: 30px;
    text-align: left;
    width: 300px;
}

.container-descr {
    grid-row: 6;
    text-align: left;
    font-size: 15px;
    width: 100%;
}