* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Overpass', sans-serif;
}

:root {
    /* ### Primary */

--Orange: hsl(25, 97%, 53%);

/* ### Neutral */

--White: hsl(0, 0%, 100%);
--Light-Grey: hsl(217, 12%, 63%);
--Medium-Grey: hsl(216, 12%, 54%);
--Dark-Blue: hsl(213, 19%, 18%);
--Dark-Blue2: hsla(217, 21%, 32%, 0.81);

--Very-Dark-Blue: hsl(216, 12%, 8%);
}
body {
    background-color: var(--Very-Dark-Blue);

}

.number {
    width: fit-content;
    color: var(--Orange);
    font-weight: bold;
    font-size: 1.5rem;
}


.inactive {
    display: none;
}


/*----------------------- RATING CARD------------------*/
.card-container,
.thanksCard {
    width: 32rem;
    height: 40rem;
    margin: 40% auto 0;
    padding: 1.5rem;
    border-radius: 2rem;
    background-color: var(--Dark-Blue);
}


.star-container {
    width: 17px;
    height: 16px;
    padding: 1.5rem;
    background-color: var(--Medium-Grey);
    background-image: url(/FrontendMentor/interactive-rating-component-main/images/icon-star.svg);
    background-position: center;
    border-radius: 50%;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}
.card-title {
    font-size: 2.5rem;
    color: var(--White);
    letter-spacing: .1rem;
    margin-bottom: 1rem;
}

.card-descr {
    color: var(--Light-Grey);
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.card-rating-container {
    display: flex;
    flex-direction: row;
    place-content: center;
    color: var(--White);
}

.card-rating {
    display: flex;
    place-content: center;
    background-color: var(--Dark-Blue2);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 1rem;
    margin: .9rem;
    cursor: pointer;
}

.card-rating:hover {
    background-color: var(--Orange);
}

.card-button {
    width: 28rem;
    height: 4.6rem;
    border: none;
    border-radius: 2.5rem;
    background-color: var(--Orange);
    color: var(--White);
    margin: 2rem auto;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    cursor: pointer;
}

.card-button:hover{
    background-color: var(--White);
    color: var(--Orange);
}

/*----------------------- THANK YOU CARD------------------*/


.sent {
    width: 20rem;
    height: 12rem;
    background-image: url(/FrontendMentor/interactive-rating-component-main/images/illustration-thank-you.svg);
    background-repeat: no-repeat;
    margin: 2rem auto;
}

.card-container-selection {
    width: 25rem;
    background-color: var(--Dark-Blue2);
    color: var(--Orange);
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem auto;
    padding: .5rem;
    border-radius: 3rem;
}

.card-container-thank {
    width: fit-content;
    margin: 3rem auto;
    font-size: 2.5rem;
    color: var(--White);
}

.card-container-descr {
    width: fit-content;
    margin: 3rem auto;
    text-align: center;
    font-size: 1.4rem;
    color: var(--Light-Grey);
    line-height: 3rem;
}

footer {
    width: fit-content;
    margin: 2rem auto;
    font-size: 1.2rem;
    color: var(--Orange);
}

footer a {
    font-size: 1.2rem;
    color: var(--Light-Grey);
    text-decoration: none;
}