:root {
--Very-dark-blue: hsl(233, 47%, 7%);
--Dark-desaturated-blue: hsl(244, 38%, 16%);
--Soft-violet: hsl(277, 64%, 61%);

--White :hsl(0, 0%, 100%);
--Slightly-transparent-white:hsla(0, 0%, 100%, 0.75);
--Slightly-transparent-white:hsla(0, 0%, 100%, 0.6);

--fuente1: 'Inter', sans-serif;
--fuente2: 'Lexend Deca', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--White);
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--Very-dark-blue);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    
}

.main-container {
    display: flex;
    flex-direction: column;
    margin: 3rem 0 auto;
    width: 70%;
    background-color: var(--Dark-desaturated-blue);
    border-radius: 1rem;
}


.main-container .img {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem 1rem 0 0;
    height: 30vh;
    background-image: linear-gradient(
        hsl(277, 64%, 45%, 0.500), 
        hsla(277, 65%, 45%, 0.500)),
    url(/FrontendMentor/Stats-preview-card-component/images/image-header-mobile.jpg);
}


.main-container__title {
    text-align: center;
    color: var(--White);
    font-family: var(--fuente1);
    font-weight: 700;
    font-size: 2rem;
    padding: 3rem 3rem 0;
}

.main-container__title span {
    color: var(--Soft-violet);
}

.main-container__descr {
    text-align: center;
    color: var(--Slightly-transparent-white);
    font-family: var(--fuente2);
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem 4rem 1.5rem;
    line-height: 1.7rem;
}

.container-stats {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.container-stats p {
    font-family: var(--fuente1);
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: .5rem;
}

.container-stats span {
    text-transform: uppercase;
    font-family: var(--fuente1);
    font-size: .7rem;
    color: var(--Slightly-transparent-white);
    letter-spacing: .2rem;
    margin-bottom: 2rem;
}

footer {
    margin: 1rem auto;
}

footer a {
    color: var(--Soft-violet);
    font-family: var(--fuente1);
}