body {
    padding:10% 0 0 0;
}

.container {
    width: 90rem;
    margin: 8rem auto;
    display: grid;
    grid-template-columns: 40rem 50rem ;
    background-color: var(--Light-grayish-blue);
    border-radius: 2rem;
    
}

.askContainer {
    margin: 0 0 0 8rem;
    grid-column: 2;
    overflow: hidden;
}
.woman, .shadow {
    display: none;
}
.woman {
    z-index: 1;
    display: flex;
    background-image: url(/FrontendMentor/faq-accordion-card-main/images/illustration-woman-online-desktop.svg);
    width: 48rem;
    height: 36rem;
    position: relative;
    background-repeat: no-repeat;
    left: -7rem;
    top: 4rem;


}
.shadow {
    display: flex;
    width: 98rem;
    height: 90rem;
    background-image: url(/FrontendMentor/faq-accordion-card-main/images/bg-pattern-desktop.svg);
    top: -30rem;
    left: -60rem;
    background-repeat: no-repeat;
    overflow: hidden;



}

.womanShadow {
    width: 60rem;
    height: 50rem;
    position: absolute;
    top: 25rem;
    left: 27rem;
    overflow: hidden;
}

.box {
    position: relative;
    background-image: url(/faq-accordion-card-main/images/illustration-box-desktop.svg);
    background-repeat: no-repeat;
    height: 188px;
    background-position: center;
    left: -22rem;
    top: 20rem;
    z-index: 3;
}

.title {
    text-align: left;
    margin: 3rem 0;
    font-size: 3rem;
}

@media (min-width:1441px) {

    .womanShadow {
        left: 51rem;    }
    
    .box {
        top: 15rem;
    }
}

