.inputButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

button {
    margin: auto 0 ;
    width: 15%;
}

.error {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 10px;
}

.inactive {
    text-align: left;
    margin-left: 20px;
    font-size: 1.2rem;
}

.img {
    margin-bottom: 50px;
}

