* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 62.5%;
}

:root {

--Blue: hsl(223, 87%, 63%);
--Pale-Blue: hsl(223, 100%, 88%);
--Light-Red: hsl(354, 100%, 66%);
--Gray: hsl(0, 0%, 59%);
--Very-Dark-Blue: hsl(209, 33%, 12%);
}

.logo {
    width: 60px;
    height: 30px;
    background-image: url(/FrontendMentor/Ping-single-column-coming-soon-page/images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 70px auto 30px;
    background-size: contain;
}

.title {
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.subtitle {
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 300;
}

.title span {
    font-weight: bold;
}

.inputButton {
    margin: 20px auto;
    width: 80%;
    height: auto;
    justify-content: center;
}

input {
    width: 100%;
    height: 50px;
    padding: 20px;
    border-radius: 30px;
    margin: 10px auto;
    border: 1px solid var(--Blue);
    outline: none;
}

input::placeholder{
    color: var(--Blue);
    opacity: .3;
}

button {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    background-color: var(--Blue);
    margin: 10px auto;
    border: none;
    color: white;
    font-weight: bold;
    letter-spacing: .1rem;
    cursor: pointer;

}

.img {
    width: 85%;
    height: 300px;
    background-image: url(/FrontendMentor/Ping-single-column-coming-soon-page/images/illustration-dashboard.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.fb {
    background-image: url(/FrontendMentor/Ping-single-column-coming-soon-page/images/104498_facebook_icon.png);
}

.tw {
    background-image: url(/FrontendMentor/Ping-single-column-coming-soon-page/images/104501_twitter_bird_icon.png);
}

.ins{
    background-image: url(/FrontendMentor/Ping-single-column-coming-soon-page/images/1161953_instagram_icon.png);
}
.iconContainer {
    background-size: 15px;
    width: 20px;
    height: 20px;
    margin: 5px;
    opacity: .7;
    list-style: none;
    border: 1px solid rgba(115, 115, 247, 0.253);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
}

footer {
    width: fit-content;
    margin: 20px auto;
}

footer p {
    color: var(--Gray);
    text-align: center;
    margin-bottom: 30px;
}

footer a {
    text-decoration: none;
    color: var(--Light-Red);
    font-weight: bold;
}

.inactive {
    color: red;
    font-style: italic;
    font-size: 1.4rem;
    text-align: center;
}