.cards-container {
    display: grid;
    grid-template-columns: 32rem 32rem;
    grid-template-rows: 22rem 24rem;
    width: fit-content;
    height: fit-content;
    margin: 20rem auto 0;
    border-radius: 1rem;
}

.container__card {
    padding-left: 4.5rem;
    padding-bottom: 0;

}

.card1 {
    grid-column: 1/3;
    grid-row: 1/2;
}

.title1 {
    font-size: 2.5rem;
}

.subtitle1 {
    font-size: 1.7rem;
}

.descr1 {
    font-size: 1.4rem;
    padding-right: 7rem;
}

footer{
    font-size: 1.5rem;
}
