* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Karla', sans-serif;
}

:root {
    /* ### Primary */

--Cyan: hsl(179, 62%, 43%);
--Cyan-light: hsl(179, 62%, 47%);
--Bright-Yellow: hsl(71, 73%, 54%);

/* ### Neutral */

--Light-Gray: hsl(204, 43%, 93%);
--Grayish-Blue: hsl(218, 22%, 67%);
}

body {
    background-color: var(--Light-Gray);
}

.cards-container {
    width: 30rem;
    height: 75rem;
    border-radius: 1rem;
    margin: 6rem auto 0;


}

.container__card {
    padding:  3rem 2.5rem;

}
.card1 {
    height: 27rem;
    background-color:white ;
}

.title1 {
    font-size: 2rem;
    color: var(--Cyan);
    margin-bottom: 3.4rem;
}

.subtitle1 {
    font-size: 1.3rem;
    color: var(--Bright-Yellow);
    margin-bottom: 3rem;
}

.descr1 {
    font-size: 1.2rem;
    color: var(--Grayish-Blue);
    line-height: 2.2rem;
}

.card2 {
    background-color: var(--Cyan);
    height: 24rem;
}

.title2 {
    font-size: 1.6rem;
    color: white;
    margin-bottom: 2rem;
}

.card2 p {
    font-size: 1.4rem;
    color: var(--Light-Gray);
    margin-bottom: 2.5rem;
}

.subtitle span {
    font-size:2.5rem ;
    font-weight: 700;
    margin-right: 1rem;
}

button {
    width: 26rem;
    height: 5.2rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--Bright-Yellow);
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.card3 {
    background-color: var(--Cyan-light);
    height: 24rem;
}

.title3 {
    font-size: 1.6rem;
    color: white;
    margin-bottom: 2rem;
}

.descr3 {
    font-size: 1.5rem;
    color:var(--Light-Gray);
    line-height: 2rem;
    font-weight: normal;
}

footer {
    width: fit-content;
    margin: 1.5rem auto;
    font-size: 1rem;
}

footer a {
    color: var(--Cyan);
    text-decoration: none;

}