* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

:root {
/* ### Primary */

--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);

/* ### Neutral */

--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98%);
}



.main-container {
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    margin-bottom: 6rem;
}

.header1 {
    color: var(--Grayish-Blue);
    font-weight: 200;
    font-size: 1.9rem;
}

.header2 {
    color: var(--Very-Dark-Blue);
    font-size: 2.1rem;
    font-weight: 600;
}

.header3 {
    color: var(--Grayish-Blue);
    font-weight: 400;
    font-size: 1.3rem;

}

.card-color {
    width: 31.4rem;
    height: 22.1rem;
    box-shadow: -17px 10px 15px -3px rgba(0,0,0,0.1),11px 7px 15px -3px rgba(0,0,0,0.1);
    margin: 0 auto 2.5rem auto;
    border-radius: 1rem;
    padding-top: .3rem;
}

.card-color__container {
    width: 31.4rem;
    height: 22.1rem;
    background-color: white;
    padding: 2.5rem;
    display: grid;
}

.cyancard {
    background-color: var(--Cyan);
}

.redcard {
    background-color: var(--Red);
}

.orangecard {
    background-color: var(--Orange);
}

.bluecard {
    background-color: var(--Blue);
}

.text-container--title {
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--Very-Dark-Blue);
}

.text-container--descr {
    font-size: 1.3rem;
    letter-spacing: -.5px;
    color: var(--Grayish-Blue);
    margin-top: .5rem;
    font-weight: 400;
}

.text-container {
    grid-column: 1/3;
}


.supervisor {
    width: 55px;
    height: 55px;
    background-image: url(/FrontendMentor/four-card-feature-section-master/images/icon-supervisor.svg);
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: 2/2;
}

.builder {
    width: 55px;
    height: 55px;
    background-image: url(/FrontendMentor/four-card-feature-section-master/images/icon-team-builder.svg);
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: 2/2;
}

.karma {
    width: 55px;
    height: 55px;
    background-image: url(/FrontendMentor/four-card-feature-section-master/images/icon-karma.svg);
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: 2/2;
}

.calculator {
    width: 55px;
    height: 55px;
    background-image: url(/FrontendMentor/four-card-feature-section-master/images/icon-calculator.svg);
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: 2/2;
}

footer {
    width: fit-content;
    margin: 1rem auto;
    color:var(--Orange);
}

footer a {
    color: var(--Cyan);
}