:root{
    /*Colores*/
    --bitcoint-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secundary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black:#282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #fff;
    --linear-gradient:207.8deg, #201E1C, 16.69%, #F7931A 100%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "Inter", sans-serif;

}

header{
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    justify-content: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
}

.header-title_container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
}

.header-title_container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header-title_container p{
    margin-top: 2.5rem;
    font-size: 1.4rem;
    color: var(--soft-orange);
    font-weight: 500;
    line-height: 1.8rem;
}

.header-title_container .header_button{
    position: absolute;
    left: calc(50% - 118px);
    top: 27rem;
    display: block;
    margin-top: 3.5rem;
    padding: 1.5rem;
    width:22.9rem ;
    height: 4.8rem;
    background-color: var(--off-white);
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgba(89,73,30,0.16);
    border: none;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header_button span{
    display: inline-block;
    width: 1.3rem;
    height: .8rem;
    margin-left: 1rem;
    background-image: url('/Batatabit//assets/icons/down-arrow.svg');
}

main{
    width: 100%;
    height:auto ;
    min-width: 320px;
    background-color: var(--off-white);
}

.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top:80px ;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container .backgroundImg{
    width: 200px;
    height: 200px;
    background-image: url(/Batatabit//assets/img/Bitcoin.svg);
    margin: 0 auto;
    margin-bottom: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container h2{
    margin-bottom:30px ;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-exchange-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.main-currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 320px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoint-orange);
}

.currency-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table--container table{
    width: 100%;
    height: 100%;
}
.currency-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.currency-table--container .table__top-left{
    border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right{
    border-radius: 0 15px 0 0;
}
.currency-table--container .table__bottom-left{
    border-radius: 0 0 0 15px ;
}

.currency-table--container .table__bottom-right{
    border-radius: 0 0 15px 0;
}

.currency-table--container .table-right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table--container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('/Batatabit//assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('/Batatabit//assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
                /* COMISIONES */
.main-comission-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-comission-table .comission-table--title{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secundary-blue);
}

.comission-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.comission-table--container table{
    width: 100%;
    height: 100%;
}
.comission-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.comission-table--container .table__top-left{
    border-radius: 15px 0 0 0;
}
.comission-table--container .table__top-right{
    border-radius: 0 15px 0 0;
}
.comission-table--container .table__bottom-left{
    border-radius: 0 0 0 15px ;
}

.comission-table--container .table__bottom-right{
    border-radius: 0 0 15px 0;
}

.comission-table--container .table-right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table--date{
    width: 220px;
    height: 30px;
    margin: 0 auto;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
    margin-bottom: 30px;
}
.currency-table--date p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
}

.comission-table--date{
    margin: 0 auto;
    width: 220px;
    height: 30px;
    padding: 8px;
    background-color: var(--soft-blue);
    border-radius: 8px;
}
.comission-table--date p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
}

.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
    color: var(--just-white);
}
.product-detail--batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    background-image: url('/Batatabit//assets/icons/batata.svg');
    top:-10px;
    left: calc(50% - 20px);
}
.product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.product-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
}
.product-detail--title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.product-detail--card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    font-size: 1.4rem;
    padding: 15px;
    background-color:#282623 ;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.16);
}
.product-detail--card .clock{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('/Batatabit//assets/icons/clock.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product--card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
}
.product--card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail--card .eye{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('/Batatabit//assets/icons/eye.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--card .money{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('/Batatabit//assets/icons/dollar-sign.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--card .check{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('/Batatabit//assets/icons/check-circle.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btc-img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('/Batatabit//assets/img/bitcoinbaby2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.btc-img-container h2{
    padding-top: 60px;
    color: var(--just-white);
    font-size: 2.4rem;
    line-height: 4.4rem;
    font-weight: bold;
}
.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}
.plans--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 40px;
}
.plans--title h2{
    padding-top: 50px ;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.plans--title p{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans-container--card{
    scroll-snap-align:center;
    position: relative;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
.recommend{
    position: absolute;
    width: 120px;
    height: 31px;
    background-color: var(--bitcoint-orange);
    color: var(--just-white);
    border-radius: 8px;
    font-size:1.2rem ;
    left: calc(50% - 60px);
    top: -15px;
    padding: 6px;
}
.plan-card--title{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--black);
}
.plan-card--price{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.3rem;
}
.plan-card--price span{
    font-size: 1.2rem;
    font-weight: 500;
    position: absolute;
    top: 40px;
    left: 70px;
    color: #363636;
    line-height: 5.3rem;
}
.plan-card--saving{
    font-size: 1.2rem;
    color:#757575 ;
}

.plan-card--call-to-action{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color:var(--off-white) ;
    border: 2px solid var(--bitcoint-orange) ;
    border-radius: 4px;
    color:#201E1C ;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
}
.plan-card--call-to-action span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('/Batatabit//assets/icons/orange-right-arrow.svg');
vertical-align: bottom;
}

.plans-container--slider{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:x  proximity;
}

footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoint-orange);
    color: var(--just-white);

}
footer section{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.left li{
    margin: 10px 0;
}
.left a{
    text-decoration: none;
}


